
@{
    ViewData["Title"] = "ForgottenPasswordView";
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}
<link rel="stylesheet" href="~/css/LogIn.css" />
@model MyRealWorld.ModelsAuthentication.MUser

@using (Html.BeginForm("ForgotPassword", "LogIn", FormMethod.Post))
{
    <section class="bg-dark ">
        <div class="container">
            <div class="col-md-10 form-group">
                <label class="text-danger">@Model.ErrorMessage</label>
            </div>
            <fieldset>
                <legend>@Model.HeaderForgotPass</legend>
                <div class="mb-3">
                    <label for="UserName" class="form-label labels_of_controls">User Name</label>
                    <input asp-for="UserName" type="text" class="form-control midium_txt" id="txtUserjName" placeholder="UserName is required">
                </div>
                <div class="row ml-lg-1">
                    @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    <label for="Email" class="form-label labels_of_controls">Email</label>
                    <input asp-for="Email" type="text" class="form-control midium_txt" id="txtUserjName" placeholder="Email is required">
                </div>
                <div class="col-md-3 form-group">
                     @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-3 form-group align-items-center mt-lg-3">
                    <button type="submit" class="btn btn-outline-warning">Send a new password</button>
                </div>

                <input type="hidden" name="UserId" id="UserId" asp-for="UserId" value="@Model.UserId" />
            </fieldset>

        </div>
    </section>

}