
@using MyRealWorld.ViewModels.Programming
@using MyRealWorld.Common
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model ProjectVM
<link rel="stylesheet" href="~/css/ProjectView.css" />
@{
    var user_level = HttpContextAccessor.HttpContext.Session.GetString(Constants.SessionCoockies.SessionULevel);
    var iLevel = Convert.ToInt32(user_level);
}
<div class="ProjectView">        
      
    <figure class="img_room">
        <img src='~/images/ProjectsImages/@Model.GetImgSrc()' />
        <figcaption class="img_label">
            <div class="figcaption_line"><b>Year</b>: @Model.YearPublished</div>
            <div class="figcaption_line"><b>Last version:</b> @Model.ProjectVersion</div>
        </figcaption>
    </figure>

    <div class="main_part_room">
        <div class="descriptio_part">
        <h3>
            @Model.ProjectName
        </h3>
        <p>
            @Model.GetDescription()
        </p>
        </div>
        <div class="key_words_part">
            <div class="key_words_keyword">KeyWords:</div>
            <div class="key_words_list"> @Model.KeyWords</div>
        </div>
    </div>

    <div class="buttons_area" >
        @if (!string.IsNullOrEmpty(Model.ProjectUrl))
        {
            <span class="icon_menu first" title="take a look...">
                <a href="@Model.getProjectUrl()" target="_blank">
                    @if(Model.IsOnline)
                    {
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    }
                    else
                    {
                        <span class="offline_labels">See</span>
                          
                    }
                </a>
            </span>
        }
        <span class="icon_menu first" title="see code...">
            <a href="@Model.getCodeUrl()" target="_blank">
                @if(Model.IsOnline)
                    {
                <i class="fa-solid fa-code"></i>
                    }
                else
                {
                    <span class="offline_labels">Code</span>                        
                }
            </a>
        </span>
        <span class="icon_menu" title="edit...">
            @if (iLevel == Constants.Values.ADMIN_RIGHTS)
            {
                    if(Model.IsOnline)
                    {
                    @Html.ActionLink(" ", "EditProject", "Projects", new { projId = Model.Id }, new { @class = "fa-solid fa-pen" })
                }
                else
                {
                    @Html.ActionLink("Edit", "EditProject", "Projects", new { projId = Model.Id }, new { @class = "offline_labels" })
                }
            }
        </span>
        <span class="icon_menu" title="details...">
            <span data-target="#myModal" data-toggle="modal" onclick="ShowDialog();">
                    @if(Model.IsOnline)
                    {
                    <i class=" fa-solid fa-circle-info"></i>
                }
                else
                {
                    <span class="offline_labels">More...</span>
                }

            </span>
                
        </span>
        <span class="icon_menu" title="delete...">
            @if (iLevel == Constants.Values.ADMIN_RIGHTS)
            {
                if(Model.IsOnline)
                {
                    @Html.ActionLink(" ", "DeleteProject", "Projects", new { projId = Model.Id }, new {onclick="return confirm('Are you sure?')", @class = "fa-solid fa-trash", @style="color:darkred;" })
                }
                else
                {
                    @Html.ActionLink("Del", "DeleteProject", "Projects", new { projId = Model.Id }, new { onclick = "return confirm('Are you sure?')", @class = "offline_labels", @style = "color:darkred;" })
                }
            }
        </span>
            
    </div>

    </div>





<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col-md-11  modal-header"> Details of the Project</div>
            <div class="col-md-1 close">&times;</div>
        </div>

        <p>@Model.Description</p>
    </div>

</div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
        });
    function ShowDialog(){
          var modal = document.getElementById("myModal");
          modal.style.display = "block";
    }
    function closeModal() {
      var modal = document.getElementById("myModal");
      modal.style.display = "none";
    }

    // Close the modal if the user clicks outside of it
    window.onclick = function(event) {
      var modal = document.getElementById("myModal");
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // Attach close modal event to the close button
    document.querySelector('.close').onclick = closeModal
        
        

    </script>
